@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f6f7fa;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
